@using Microsoft.AspNetCore.Mvc.Localization
@model ContosoUniversity.Models.Student
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"];
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => m.Enrollments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>@Localizer["Course Title"]</th>
                    <th>@Localizer["Grade"]</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(mi => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(mi => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
